.carddiv{
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  flex-wrap: wrap;
  position: relative;
}

#image{
  width: 80%;
  height: 80%;
  border-radius: 7px;
  z-index: 1;
}
#name{
  text-decoration: none;
  color:blue;
}
.tooltiptextfalse{
  display:flex;
  flex-direction: column;
  position: absolute;
  width: 120px;
  background-color: #384b5e;
  color: #fff;
  border-radius: 6px;
  top:5px;
  left:  90%;
  width:250px;
  height:150px;
  margin: 0px;
  visibility: hidden;
}
.tooltiptexttrue{
  display:flex;
  flex-direction: column;
  position: absolute;
  width: 120px;
  background-color: #384b5e;
  color: #fff;
  border-radius: 6px;
  top:5px;
  left:  90%;
  width:250px;
  height:150px;
  margin: 0px;
  visibility: visible;
  z-index: 2;
}
.info{
  margin-left: 20px;
  margin-top: 5px;
  padding: 0px;
}