.cardRow{
  
  background-color: #11161d;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, 230px);
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}