.input{
  width: 210px;
  border-radius:9px ;
  border-color: #de5499;
}

.searchbtn{
  width: 70px;
  border-radius: 10px;
  border-color: #de5499;
  color:#de5499;
  transition: color 0.4s , background-color 0.4s;
  
}
.searchbtn:focus{
  border:2px solid #de5499;
  outline: none;
}
.searchbtn:hover{
  background-color: #de5499;
  color:white;
  cursor: pointer;
}
.searchandbtn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top:5%;
  column-gap: 10px;
}