.storydiv{
  display: grid;
  grid-template-columns: 0.2fr 0.5fr;
  column-gap: 40px;
}
.childimg{
  border-radius: 15px;
  margin-left: 50px;
  margin-top: 50px;
}
.childparagrafh{
  color:rgba(255, 255, 255, 0.773);
  line-height: 1.7;
  margin-top: 50px;
}